/* ----------------------------------------- */
/*                Blog Navbar                */
/* ----------------------------------------- */

h1, h2, h3, h4, h5, p, button, a {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
}

h3 {
  font-size: 48px !important;
  font-weight: 500 !important;
  margin-bottom: 0px !important;
  letter-spacing: 0px !important;
  line-height: 1.4;
  margin-left: -1px !important;
}

h4 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  letter-spacing: 0px !important;
  line-height: 1.4;
}

h5 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 24px !important;
  font-weight: normal !important;
  letter-spacing: 0px !important;
  line-height: 1.4;
}

p {
  font-size: 16px !important;
  font-weight: normal !important;
  letter-spacing: 0.5;
  line-height: 1.4;
}

.blog-hero {
  margin-bottom: 60px !important;
  color: rgb(97, 97, 97);
  margin-top: 3px !important;
}

div.outter-blog-container.ui.container,
div.outter-blog-container.ui.segment {
  width: 80% !important;
}

.blog-nav-menu {
  margin-top: -30px !important;
  margin-left: -6px !important;
  margin-right: -6px !important;
}

@media (max-width: 980px) {
  div.outter-blog-container.ui.container,
  div.outter-blog-container.ui.segment {
    width: 100% !important;
  }
}

@media (width: 768px) {
  div.outter-blog-container.ui.container,
  div.outter-blog-container.ui.segment {
    margin-left: 3px !important;
    margin-right: 21px;
  }
}

@media (min-width: 991px) {
  .featured-image {
    width: 95.4% !important;
  }
}

@media (max-width: 990px) {
  .featured-image {
    margin-bottom: 12px !important;
  }
}

@media (max-width: 767px) {
  #mobile-outter-container {
    margin-left: 21px !important;
    padding-right: 42px !important;
  }
}

@media (max-width: 991px) {
  .post-container {
    padding-bottom: 30px;
  }
  div.ui.container.post-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
  }
  .featured-post-padding {
    padding-bottom: 90px !important;
  }
}

.outter-blog-container2.ui.container {
  max-width: 806px !important;
}

.outter-blog-container3.ui.container {
  max-width: 1306px !important;
}

.blog-page .outter-blog-container2.ui.container {
  max-width: 1000px !important;
}

.preview-date {
  font-size: 13px;
  margin-right: 16px;
  color: #16141a;
  font-weight: 600 !important;
}

.preview-category {
  font-size: 13px;
  color: rgb(97, 97, 97);
}

.category-link {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: medium !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  color: black;
  padding-right: 21px;
}

.category-link2 {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: medium !important;
  font-size: 16px !important;
  letter-spacing: 1px !important;
  color: black;
  padding-left: 9px;
}

.ui.search>.results .result .title {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 600;
}


.category-link:hover, .category-link2:hover {
  color: rgb(97, 97, 97);
}

@media (max-width: 991px) {
  .post-logo {
    height: 42px !important;
    width: 42px !important;
  }
}

.ui.input>input {
  border: 0px solid white;
  border-bottom: 1px solid rgba(34,36,38,.15);
  border-radius: 0px !important;
  margin-top: -30px;
}

.ui.input.focus>input, .ui.input>input:focus {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.ui.search .prompt~.search.icon {
  margin-right: -10px;
  margin-top: -14px;
  color: black !important;
  opacity: 1;
}

input.prompt {
  padding-left: 0px !important;
}

.ui.search>.results {
  border-radius: 0px;
  overflow-y: auto;
  max-height: 63vh;
}

.ui.search>.results .result .image {
  display: none;
}

.ui.search>.results .result .image+.content {
  margin: 0;
}

.nav-segment, .dcl.navbar {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.dcl.navbar {
  border-bottom: 0px !important;
  margin-bottom: -12px !important;
}

.dcl.logo {
  display: none;
  pointer-events: none !important;
}

.dcl.navbar-logo {
  pointer-events: none !important; 
}

.dcl.navbar .ui.menu .item {
  font-size: 15px;
  margin-left: 0px;
  margin-right: 24px;
}

.dcl.navbar .ui.menu.secondary {
  margin-left: -35px;
}

.dcl.navbar.open .mobile-menu {
  width: 100vw !important;
  overflow-x: hidden !important;
  margin-left: -20px;
}

@media (max-width: 499px) {
  .nav-icon-hidden {
    display: none !important;
  }
  .blog-right2 {
    margin-right: -36px !important;
  }
}

@media (min-width: 991px) {
  .left-menu2 {
    display: none !important;
  }
  .left-menu1 {
    border: 0px solid white !important;
    box-shadow: none !important;
  }
}

.dcl.navbar .mobile-menu {
  display: none !important;
}

@media (max-width: 990px) {
  .left-menu1 {
    display: none !important;
  }
}

.dcl.navbar .mobile-menu {
  display: inherit !important;
}

@media (max-width: 768px) {
  .dcl.navbar .mobile-menu .item {
    padding-left: 24px !important;
    font-size: 15px !important;
  }
}

.dcl.navbar .ui.menu .item.active {
  border-bottom: 2px solid #2085f4;
  border-radius: 0px;
  margin-bottom: -26px;
  padding-bottom: 25px;
}

.ui.menu .item:hover {
  background: none !important;
}

#blog-nav-logo {
  margin-top: 0px !important;
  margin-bottom: -9px !important;
}

.nav-icon2 {
  margin-right: -9px !important;
}

.blog-right, .blog-right2, .blog-right3 {
  margin-top: 9px !important;
}

@media only screen and (max-width: 361px) {
  .nav-icon2 {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  #nav-hidden {
    display: none !important;
  }
  .blog-right {
    margin-left: -9px !important;
  }
  .nav-icon-hidden {
    display: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .blog-right {
    margin-left: -9px !important;
  }
}


@media only screen and (max-width: 767px) {
  .dcl.navbar .ui.menu.secondary {
    margin-left: -12px !important;
  }
  #blog-nav-logo {
    margin-left: -15px !important;
    padding-left: 0px !important;
  }
  #nav-icon {
    padding-right: 0px !important;
    margin-right: -9px !important;
  }
}

@media only screen and (max-width: 767px) {
  .dcl.navbar .navbar-mobile-menu .ui.header {
    margin-left: -36px !important;
  }
}


@media only screen and (width: 768px) {
  .dcl.navbar .ui.container {
    margin-left: 5px !important;
  }
}

@media only screen and (max-width: 767px) {
  .dcl.navbar-account {
    margin-right: -35px;
  }
}

/* ----------------------------------------- */
/*                 Blog Page                 */
/* ----------------------------------------- */

@media only screen and (max-width: 767px) {
  .blog-page,
  .blog-page .container {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  #blog-margins {
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 0px !important;
  }
  .blogdetail-page .post__content img {
    width: 100% !important;
    height: 100%;
  }
  .blog-page {
    overflow: hidden;
  }
}

.blog-page {
  margin-top: 0em !important;
  min-height: 72.36vh;
}

.blog-page img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.blog-page .container .posts {
  display: flex;
  flex-wrap: wrap;
}

.blog-page .container .posts .post {
  width: calc(33.33% - 40px);
  margin: 20px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 980px) {
  .blog-page .container .posts .post {
    width: calc(50% - 40px);
  }
}

@media screen and (max-width: 767px) {
  .blog-page .container .posts .post {
    width: 100%;
  }
}

.blog-page .container .posts .post .post-image {
  cursor: pointer;
  border-radius: 0px;
  margin-bottom: 12px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.16);
  transition: transform 250ms ease, box-shadow 250ms ease;
  overflow: hidden;
}

.blog-page .container .posts .post .post-image {
  display: flex;
  width: 100%;
  height: 200px;
}

.blog-page .container .posts .post .post-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-page .container .posts .post:hover {
  transform: translateY(0px);
}

.blog-page .container .posts .post .post-info {
}

.blog-page .container .posts .post .post-info .top {
  display: flex;
}

.blog-page .container .posts .post .post-info .top .date {
  margin-right: 16px;
  color: #16141a;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.blog-page .container .posts .post .post-info .top .category {
  color: #7d8499;
  font-size: 13px;
  text-decoration: none;
}

.blog-page .container .posts .post .bottom {
  margin-top: 8px;
}

.blog-page .container .posts .post .bottom .disc {
  display: none;
  margin-top: 8px;
  font-size: 17px;
}

.blog-page .container .posts .post .post-info .bottom a {
  cursor: pointer;
}

/* ------------------------------- */
/*       blogdetail Page CSS       */
/* ------------------------------- */

.blogdetail-page {
  margin-top: -1.7em;
}

.blogdetail-page .post__content a {
  color: rgba(1, 133, 244, 1) !important;
  text-decoration: none;
}

.blogdetail-page .post__content a:hover {
  color: rgba(1, 133, 244, 0.9) !important;
}

.blogdetail-page .post__content li::before {
  color: rgba(1, 133, 244, 1) !important;
  font-size: 18px !important;
  top: 0 !important;
  left: 6px !important;
}

.blogdetail-page h1 {
  font-size: 48px;
  font-weight: 500;
  margin-top: -21px;
  margin-bottom: 24px;
}

@media screen and (max-width: 980px) {
  .blogdetail-page h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .blogdetail-page h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .blogdetail-page h2 {
    font-size: 18px;
  }
}

.blogdetail-page .container {
  max-width: 800px !important;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (max-width: 1366px) {
  .blogdetail-page .container {
    max-width: 800px;
  }
}

.blogdetail-page .coverimg .image {
  width: 100%;
  height: 480px;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1366px) {
  .blogdetail-page .coverimg .image {
    height: 450px;
  }
}

.blogdetail-page .coverimg .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.blogdetail-page .blogdetails .bloginfo .info {
  display: flex;
  align-items: center;
}

.blogdetail-page .blogdetails .bloginfo .info .date1 {
  margin-right: 16px;
  color: #0a0f1f;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

div.date1, .date-divider {
  margin-right: 1px;
}

@media (max-width: 767px) {
  div.date1, .date-divider {
    margin-left: -18px !important;
  }
}

.blogdetail-page .blogdetails .bloginfo .info .category a {
  text-transform: uppercase;
  line-height: 24px;
  color: #5c5c6e;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

.blogdetail-page .blogdetails .bloginfo .title {
  margin-top: 12px;
}

.blogdetail-page .blogdetails .bloginfo .discription {
  margin-top: 8px;
}

.blogdetail-page .blogdetails .bloginfo .post-author {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1366px) {
  .blogdetail-page .blogdetails .bloginfo .post-author {
    margin-top: 48px;
  }
}

@media screen and (max-width: 980px) {
  .blogdetail-page .blogdetails .bloginfo .post-author {
    margin-top: 30px;
  }
}

.blogdetail-page .blogdetails .bloginfo .post-author a .author-info .image {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 12px;
}

.blogdetail-page .blogdetails .bloginfo .post-author a .author-info {
  display: flex;
  align-items: center;
}

.blogdetail-page .blogdetails .bloginfo .post-author a .author-info .image img {
  width: 32px;
  height: 32px;
}

.blogdetail-page .blogdetails .bloginfo .post-author a .author-info .name {
  font-size: 17px;
  color: #16141a;
  font-weight: 500;
}

.blogdetail-page .blogdetails .bloginfo .post-author .social span {
  font-size: 13px;
  color: #5c5c6e;
  margin-right: 16px;
  text-transform: uppercase;
}

.blogdetail-page .blogdetails .bloginfo .post-author .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.blogdetail-page .blogdetails .bloginfo .post-author .social span svg {
  width: 20px;
  height: 16px;
  cursor: pointer;
}

.blogdetail-page .blogdetails .bloginfo .post-author .social span svg:hover {
  fill: red;
}


.blogdetail-page .post__content {
  font-size: 16px;
  font-weight: 100 !important;
  padding-bottom: 45px;
}

.blogdetail-page .post__content {
  line-height: 17px;
  font-size: 17px;
}

@media (max-width: 480px) {
  .blogdetail-page .post__content {
    font-size: 14px;
  }
}

.blogdetail-page .post__content img {
  border-radius: 0px;
  display: block;
  margin-top: 42px;
  margin-bottom: 42px !important;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.blogdetail-page .post__content iframe {
  width: 100%;
  height: 500px;
}

@media (min-width: 1096px) {
  .blogdetail-page .post__related {
    padding: 97px 0px 104px 0px;
  }
  .blogdetail-page .post__related .post-grid .post {
    margin-bottom: 0;
  }
}

.blogdetail-page .post__content h3 {
  font-size: 28px;
  margin-top: 64px;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 980px) {
  .blogdetail-page .post__content h3 {
    font-size: 24px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .blogdetail-page .post__content h3 {
    font-size: 22px;
    margin-top: 30px;
  }
}

.blogdetail-page .post__content p, 
.blogdetail-page .post__content li, 
.summary_content {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 20px;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 20px !important;
  margin-bottom: 0;
  color: #16141a;
  font-weight: normal !important;
}

.blogdetail-page .post__content h6 {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 20px;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 16px !important;
  margin-bottom: 0;
  color: rgb(97, 97, 97);
  font-weight: normal !important;
  margin-top: -30px;
}

.blogdetail-page .post__content blockquote {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 20px;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 20px !important;
  margin-bottom: 0;
  font-weight: normal !important; 
  margin: 0px;
}

.date1 {
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 20px;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 16px !important;
  margin-bottom: 0;
  color: rgb(97, 97, 97);
  font-weight: normal !important; 
}

.date2 {
  float: right;
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 16px !important;
  margin-bottom: 0;
  color: rgb(97, 97, 97);
  font-weight: normal !important; 
}

.date3 {
  float: right;
  margin-left: 21px !important;
  margin-right: 6px !important;
}

.blogdetail-page .post__content h2 {
  font-size: 34px;
  padding-bottom: 3px;
}

.blogdetail-page h1, .blogdetail-page a {
  font-weight: 500 !important;
  font-family: Roboto, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
}

.blogdetail-page ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.blogdetail-page .post__content ul,
.blogdetail-page .post__content ol {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

.blogdetail-page .post__content li::before {
  content: "•";
  position: absolute;
  top: -8px !important;
  left: 0px !important;
  font-size: 30px !important;
  color: #f05;
}

.blogdetail-page ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.blogdetail-page .post__content ul,
.blogdetail-page .post__content ol {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

.blogdetail-page .post__content li {
  position: relative;
  padding-left: 21px;
}


